body {
  --font-color: #333;
  --background: #f5f5f5;
  --title-color: #2c3e50;
  --card-background: white;
  --border-color: #eee;
  --accent-color-rgb: 110, 154, 130;
  --accent-color: rgb(var(--accent-color-rgb));
  --accent-color-10: rgba(var(--accent-color-rgb), 0.1);
  --accent-color-highlight: #5a8c73;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background);
  color: var(--font-color);
  font-size: 16px;
}
.alert-info {
  --alert-color: #055160;
  --alert-background: #cff4fc;
  --alert-border-color: #9eeaf9;
  --alert-link-color: #055160;
}
.alert-danger {
  --alert-color: #58151c;
  --alert-background: #f8d7da;
  --alert-border-color: #f1aeb5;
  --alert-link-color: #58151c;
}
.alert-warning {
  --alert-color: #664d03;
  --alert-background: #fff3cd;
  --alert-border-color: #ffe69c;
  --alert-link-color: #664d03;
}
@media (prefers-color-scheme: dark) {
  body {
    --font-color: #f5f5f5;
    --background: #333;
    --title-color: #ecf0f1;
    --card-background: #444;
    --border-color: #555;

    color-scheme: dark;
  }

  .alert-info {
    --alert-color: #6edff6;
    --alert-background: #032830;
    --alert-border-color: #087990;
    --alert-link-color: #6edff6;
  }
  .alert-danger {
    --alert-color: #ea868f;
    --alert-background: #2c0b0e;
    --alert-border-color: #842029;
    --alert-link-color: #ea868f;
  }
  .alert-warning {
    --alert-color: #ffda6a;
    --alert-background: #332701;
    --alert-border-color: #997404;
    --alert-link-color: #ffda6a;
  }
}
.alert {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--alert-color);
  background-color: var(--alert-background);
  border: solid 1px var(--alert-border-color);
  border-radius: 0.375rem;
}
.alert a {
  color: var(--alert-link-color);
}
.alert-icon {
  display: flex;
  align-items: center;
}
.alert-icon .icon {
  margin-right: 6px;
  width: 20px;
  height: 20px;
}
svg.icon {
  width: 16px;
  height: 16px;
}
.text-nowrap {
  white-space: nowrap;
}
.text-end {
  text-align: end;
}
